body{
background-color: #1A1A1A;
margin: 0%;
}

header{
    background-color: rgba(74, 74, 74, 50%);
    min-height: fit-content;
    justify-content: center;
}

ul{
    margin: 0% 0% 0% 202px;
    padding: 21px 0px 21px 0px;
}

li{
    display: inline;
}